<main role="main" class="container">
    <h1 class="mt-5">Data Transaksi</h1>
    <h2>Toko Bapak Budi</h2>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Id Transaksi</th>
                <th scope="col">Nama Produk</th>
                <th scope="col">Quantity</th>
                <th scope="col">Tanggal Transaksi</th>
                <th scope="col">Harga Total</th>
                <th scope="col">Karyawan</th>
            </tr>
        </thead>
        <tbody>
            <% myData.forEach(inputdatatransaksi=>{ %>
            <tr>
                <td>
                    <%= inputdatatransaksi.id_transaksi %>
                </td>
                <td>
                    <%= inputdatatransaksi.nama_produk %>
                </td>
                <td>
                    <%= inputdatatransaksi.quantity %>
                </td>
                <td>
                    <%= inputdatatransaksi.tanggal_transaksi %>
                </td>
                <td>
                    <%= inputdatatransaksi.harga_total %>
                </td>
                <td>
                    <%= inputdatatransaksi.karyawan %>
                </td>
            </tr>
            <% }); %>
        </tbody>
    </table>
</main>