<main role="main" class="container">
  <h2 class="mt-5">Data Produk</h2>
  <a href="/tambah_produk" class="btn btn-success">Tambah Data Produk</a>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">ID produk</th>
        <th scope="col">Nama produk</th>
        <th scope="col">stok</th>
        <th scope="col">harga satuan</th>
        <th scope="col">N/A</th>
      </tr>
    </thead>
    <tbody>
      <% myProduks.forEach(produks=> { %>
      <tr>
        <td><%= produks.id_produk %></td>
        <td><%= produks.nama_produk %></td>
        <td><%= produks.stok %></td>
        <td><%= produks.harga_satuan %></td>
        <td>
          <a href="/update_produk" class="btn btn-warning">Edit</a>
          <form action="/delete_produk/<%= myProduks.id_produk %>" method="post" style="display: inline">
            <button type="submit" class="btn btn-danger">Delete</button>
          </form>
        </td>
      </tr>
      <% }); %>
    </tbody>
  </table>
</main>
